
.header{
    width: 100%;
    margin: 0;
    outline: 0;
}

.header_img{
    width: 100%;
    outline: 0;
    box-shadow: 0.2vw 0.2vw 0.2vw #888888;
}

.nav_table{
    width: 100%;
    padding: 0;
    outline: 0;
    border-top: solid black 0.3vw;
}
.header_td{
    width: 25%;
}

.nav_row{
    width: 100%;
    outline: 0;
}

.navbar_item{
    width: 96.5%;
    height: 100%;
    padding: 0.3vw;
    text-align: center;
    margin-top: 0;
    background-color:  #29A629;
    border-right-style: solid ;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 0.3vw;
    border-color: black;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    box-shadow: 0.2vw 0.2vw 0.2vw #4C4C4C;
    font-size: 2.5vw;
    color: whitesmoke;

}

.navbar_item:hover{
    color: darkgrey;
    background-color: #6ADA6A;

}
.navbar_item:visited{
    color: whitesmoke;
}

#navbar_index{
    background-color: darkgreen;
}
#navbar_index:hover{
    background-color: #66C266;
}
#navbar_omskolan{
    background-color: darkgreen;
}
#navbar_omskolan:hover{
    background-color: #66C266;
}
#navbar_varpersonal{
    background-color: darkgreen;
}
#navbar_varpersonal:hover{
    background-color: #66C266;
}
#navbar_loggain{
    background-color: darkgreen;
}
#navbar_loggain:hover{
    background-color: #66C266;
}

.aktuellt_om_skolan{
    width: 40%;
    padding: 2%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: white;
    float: left;
    border: solid transparent;
    border-radius: 1.5vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw  #4C4C4C;
}

#schema_kont{
    width: 23.5%;
    float: right;
    margin-top: 5%;
    margin-right: 13.5%;

}

#log_schema{
    width: 100%;
    padding: 2%;
    background-color: white;
    border: solid transparent;
    border-radius: 1.5vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw  #4C4C4C;
}

#start_log_table{
    width: 100%;
    font-size: 1.5vw;
}

#log_start{
    text-align: left;
}

#kontakt{
    width: 100%;
    padding: 2%;
    margin-top: 30%;
    background-color: white;
    border: solid transparent;
    border-radius: 1.5vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw  #4C4C4C;
}

.index_buttons{
    width: 80%;
    margin: auto;
    background-color: #29A629;
    border: solid black 0.078vw;
    border-radius: 1.5vw;
    text-align: center;
    line-height: 120%;
    color: white;
    box-shadow: 0.15vw 0.15vw 0.15vw 0.04vw  #4C4C4C;

}

.index_buttons:hover{
    background-color: #66C266;
    color: black;
    box-shadow: none;
    border-width: 0.1vw;
}
#varde_adress{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 5%
}

#varde_grund{
    width: 100%;
    padding: 1%;
    background-color: white;
    border: solid transparent;
    border-radius: 1.5vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw  #4C4C4C;
    line-height: 200%;
}

#adress{
    width: 50%;
    padding: 2%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: solid transparent;
    border-radius: 1.5vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw  #4C4C4C;
}

#all_personal{
    width: 95%;
    float: left;
    margin-left: 10%;
}

.personal{
    width: 15%;
    padding: 1%;
    margin-right: 8%;
    margin-top: 3%;
    float: left;
    background-color: whitesmoke;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw  #4C4C4C;
}


img{
    width: 100%;
}


.header_img img { display: block; }
.header_navbar div { display: block; }


a{
    text-decoration: none;
    display: block;
}
a:hover{
    color: darkgrey;
}


body{
    background-color: #FFCC99;
}

h1{
    font-size: 2.5vw;
    text-align: center;
}
h2{
    font-size: 2vw;
    text-align: center;
}

p{
    font-size: 1.5vw;
}
td{
    font-size: 1.5vw;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    border-spacing: 0 0;
}

